<li class="w3-hoverable">
    <p>
        <b>Comment: </b> <%= comment.content %>

        <small>
            <% if( (locals.user) ){ %>                            
                <a href="/comments/destroy/<%=comment.id%>"> 
                    <i class="fas fa-window-close"  style="color:red;"> </i>
                </a>
            <% }%>
        </small>

        <br>
        <b> User: </b> <a href="/users/profile/<%= comment.user.id%>">  <%= comment.user.name %>     </a>
        <!-- <%= comment.user.name %> -->
    </p>
</li>