<link rel="stylesheet" href="/css/home.css">

<body>
    <h1> Welcome to Codeial Home Page !</h1>
    <div id="home-container">
    <section id="feed-posts">
        
        <h1 style="text-align: center;">    Posts   </h1>
        
        <% if(locals.user) { %>
        <form action="/posts/create" id="new-post-form" enctype="multipart/form-data"  method="POST">
            <textarea name="content" cols="50" rows="5" placeholder="Type here ... " required>
            </textarea>

            <input type="file" name="avatar"  placeholder="post picture . ."/>
            <input type="submit" value="Post">
        </form>
        <% } %>
    
        <div id="posts-list-container">
            <ul>
                <%  for(post of posts){  %>                
                    
                    <%- include('_post') -%>

                <%  } %>
            </ul>
        </div>
        
    </section>

    <section id="user-friends" ">    
        <h4> Friends</h4>
        
        <%for(u of all_users) { %>
            <p>
                <% if( u.avatar ) { %>
                    <img src="<%= u.avatar %>" alt="<%= u.name %>" style="height: 30px;width: 30px; border-radius: 50%;">
                <% } %>
                <a href="/users/profile/<%=u.id%>" id="profile-link"> <%= u.name %>    </a>
            </p>
        <% } %>
    </section>
    </div>
</body> 