<link rel="stylesheet" href="/css/home.css">

<body style="background-color: rgb(234, 243, 243);">
    <h1 style="text-align: center;"> Welcome to Codeial Home Page !</h1>
    <div id="home-container">
    <section id="feed-posts">
        
        <h1 style="text-align: center;">    Posts   </h1>
        
        <% if(locals.user) { %>
        <form action="/posts/create" id="new-post-form" enctype="multipart/form-data"  method="POST">
            <div class="form-group blue-border">

                <textarea class="form-control" rows="3"  name="content" placeholder="Type here ... " required>
                </textarea>
            
            </div>
            <input type="file" name="avatar"  placeholder="post picture . ."/>
            <input type="submit" class="btn btn-primary" value="Post">
        </form>
        <% } %>
    
        <div id="posts-list-container">
            <ul class="w3-ul" >
                <%  for(post of posts){  %>                
                    
                    <%- include('_post') -%>

                <%  } %>
            </ul>
        </div>
        
    </section>

    <section id="user-friends" ">    
        <h4> Friends</h4>
        
        <%for(u of all_users) { %>
            <ul class="w3-ul" >
                <li class="w3-bar w3-card" style="border-radius: 40%;margin-bottom: 20%;background-color: white;" id="user-friend-li">
                    <% if( u.avatar ) { %>
                        <img src="<%= u.avatar %>" alt="<%= u.name %>" style="height: 30px;width: 30px; border-radius: 50%;">
                    <% } %>
                    <a href="/users/profile/<%=u.id%>" id="profile-link"> <%= u.name %>    </a>

                </li>
            </ul>
            
        <% } %>
    </section>
    </div>
</body> 