<html>
    <head>
        <title>
            <%= title %>
        </title>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">

        <%- style %>
    </head>

    <body>

        <%- include('_header'); %>

        <main id="layout-main">
            <%- body %>
        </main>

        <%- include('_footer'); %>

        <%- script %>
        <script src="https://kit.fontawesome.com/8ebe567dde.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

        <!-- for noty notifications -->

        <script>
            <% if(flash.success && flash.success.length > 0){ %>
            new Noty({                   
                theme: 'relax',
                text: '<%= flash.success %>',
                type: 'success',
                layout: 'topCenter',
                timeout: 700 ,
            }).show();
            <% } %> 
        </script>

        <!-- for noty notifications of error -->

        <script>
            <% if(flash.error && flash.error.length > 0){ %>
               
               new Noty({
                   
                   theme: 'relax',
                   text: '<%= flash.error %>',
                   type: 'error',
                   layout: 'topCenter',
                   timeout: 1000   
               }).show();
        
           <% } %>            
        </script>
       
    </body>
</html> 