<html>
    <head>
        <title>
            <%= title %>
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- W3 for styles -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>        
        
        <!-- for Noty -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

        <!-- for jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">

        <%- style %>
    </head>

    <body>

        <%- include('_header'); %>

        <main id="layout-main">
            <%- body %>
        </main>

        <%- include('_footer'); %>

        <%- script %>

        <!-- for noty notifications -->
        <script>
            <% if(flash.success && flash.success.length > 0){ %>
            new Noty({                   
                theme: 'relax',
                text: '<%= flash.success %>',
                type: 'success',
                layout: 'topCenter',
                timeout: 700 ,
            }).show();
            <% } %> 
        </script>

        <!-- for noty notifications of error -->

        <script>
            <% if(flash.error && flash.error.length > 0){ %>
               
               new Noty({
                   
                   theme: 'relax',
                   text: '<%= flash.error %>',
                   type: 'error',
                   layout: 'topCenter',
                   timeout: 1000   
               }).show();
        
           <% } %>            
        </script>

<!-- ################################################## FONTAWESOME ##################################################  -->
    <script src="https://kit.fontawesome.com/8ebe567dde.js" crossorigin="anonymous"></script>

    </body>
</html> 